* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
}

.logo {
    width: 70px;
    border-radius: 50%;
}

.nav-item {
    padding: 10px;
}

header {
    background-image: url('../images/headerimg.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

@keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  

.title {
    color: #fff;
    font-size: 50px;
}

.subtitle {
    color: #fff;
    font-size: 25px;
}

.about-img {
    background-image: url('../images/headerimg.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

.about-me {
    margin: 40px 0 0 0;
    animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

.about {
    padding: 90px 0 0 25px;
}

.about-title {
    color: #fff;
}

.about-description {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}

.my-skills-title {
    color: #fff;
    text-align: center;
    padding: 25px 0 0 0;
}

.my-skills {
    margin: 40px 0 0 0;
}

.my-skills img {
    width: 300px;
    height: 300px;
}

.progress-bar-skills {
    animation: scale-up-hor-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  